li.dev-item {
  background: #FFF;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
}

li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.dev-item header .user-info {
  margin-left: 10px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  columns: #333;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

li.dev-item a {
  color: #8E4DFF;
  font-size: 14px;
  text-decoration: none;
  margin-right: 40%;
}

li.dev-item a:hover {
  color: #5A2EA6;
}

li.dev-item button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: lighter;
  margin-right: 2%;
  height: 20px;
  border: none;
  background-color: #FFF;
  text-align: center;
  color: #BB94FF;
  cursor: pointer;
}

li.dev-item button:hover {
  color: #5A2EA6;
  font-weight: bold;
  transition: .5s;
}
